## Simulação Chamada API

In [148]:
import pandas as pd
import numpy as np
import requests
import json

In [275]:
df_principal = pd.read_csv('../data/clientes.csv', sep=';')
df_principal.shape

(2, 13)

#### Criando o primeiro dataset - simulando o formulário

In [262]:
class Pessoa:
    def __init__(self, nome, sobrenome, email, cep):
        self.nome = nome
        self.sobrenome = sobrenome
        self.email = email
        self.cep = cep
        
    def busca(self):
        response = requests.get(f'http://www.viacep.com.br/ws/{self.cep}/json/')
        # validando cep
        if response.status_code == 200:
            dados_json = json.loads(response.text)
            df = pd.DataFrame(data = dados_json, index=[0])
        else:
            print('Cep inválido !')
        return df
        
    
pessoa1 = Pessoa('rafa', 'silva', 'rafa@com', '25922000')
pessoa2 = Pessoa('teclado','sem fio', 'tec@com', '25922000')

dicio = {
    'nome': pessoa1.nome,
    'sobrenome': pessoa1.sobrenome,
    'email': pessoa1.email,
    }
#     {
#      'nome': pessoa2.nome,
#      'sobrenome': pessoa2.sobrenome,
#      'email': pessoa2.email,
#     }
    
# ]

df1 = pd.DataFrame(data= dicio, index=[0])
# df1 = pd.DataFrame(data = dicio[0], index=[0])
# df1.loc[len(df1)] = dicio[1]
df1

   nome sobrenome     email
0  rafa     silva  rafa@com

#### Criando o segundo dataset - simulando a API

In [255]:
df2 = pessoa1.busca()

In [256]:
# teste para adicionar novas linhas
b2 = pessoa2.busca()
df2.loc[len(df2)] = b2.values[0]
b2

,cep,logradouro,complemento,bairro,localidade,uf,ibge,gia,ddd,siafi
0,25922-000,Rua J,,Parque Itinga (Suruí),Magé,RJ,3302502,,21,5849

In [257]:
b2.loc[len(b2)] = df2.values[0]
b2

,cep,logradouro,complemento,bairro,localidade,uf,ibge,gia,ddd,siafi
0,25922-000,Rua J,,Parque Itinga (Suruí),Magé,RJ,3302502,,21,5849
1,25922-000,Rua J,,Parque Itinga (Suruí),Magé,RJ,3302502,,21,5849

#### Criei dois dataframes, pretendo agora concatená-los e ter apenas um dataframe.
> Para isso vou utilizar a função <strong>concat ([objeto_da_esquerda, objeto_da_direita], axis =1)</strong><br>
Passar o método axis=1 para juntar o índice das linhas eo ignore_index=True para sobrescrever valores null

In [223]:
result = pd.concat([df1, df2], axis=1, ignore_index=True)
result

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,rafa,silva,rafa@com,25922-160,Rua Carijós,,Vila Nova (Suruí),Magé,RJ,3302502,,21,5849
1,teclado,sem fio,tec@com,25922-000,Rua J,,Parque Itinga (Suruí),Magé,RJ,3302502,,21,5849

#### Obtem nomes colunas do df_principal

In [224]:
columns_name = []
for i in df_principal:
    columns_name.append(i)
result.columns = columns_name

In [222]:
for i in result.columns:
    print (i)

nome
sobrenome
email
cep
logradouro
complemento
bairro
localidade
uf
ibge
gia
ddd
siafi

#### Aqui finalizo a simulação

In [155]:
df_principal = pd.concat([df_principal, result])
df_principal

,nome,sobrenome,email,cep,logradouro,complemento,bairro,localidade,uf,ibge,gia,ddd,siafi
0,Rodrigo,Pires,rodrigo@email.com,1001000,Praça da Sé,lado ímpar,Sé,São Paulo,SP,3550308,1004,11,7107
1,Guilherme,Fernandes,guilherme@email.com,1001010,Rua Filipe de Oliveira,NaN,Sé,São Paulo,SP,3550308,1004,11,7107
0,rafa,silva,rafa@com,25922-160,Rua Carijós,,Vila Nova (Suruí),Magé,RJ,3302502,,21,5849
1,teclado,sem fio,tec@com,25922-000,Rua J,,Parque Itinga (Suruí),Magé,RJ,3302502,,21,5849

In [199]:
response = requests.get(f'http://www.viacep.com.br/ws/2592300/json/')
if response.status_code == 200:
    print('Tudo ok')
else:
    print('Cep inválido !')

Cep inválido !

In [187]:
a= df1.to_json(orient='index')
a

'{"0":{"nome":"rafa","sobrenome":"silva","email":"rafa@com"},"1":{"nome":"teclado","sobrenome":"sem fio","email":"tec@com"}}'